# Jenkins admin credentials
JENKINS_ADMIN_ID=<username>
JENKINS_ADMIN_PASS=<password>

# GitHub credentials
GITHUB_USERNAME=<username>
GITHUB_TOKEN=<github-token>

# DockerHub credentials
DOCKERHUB_USER=<username>
DOCKERHUB_PASS=<dockerhub-token>

# Your Git repo
REPO=https://github.com/<username>/<repo-name>.git
